body {
    background-color: #0F0F0F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}

::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background: #0F0F0F; 
}

::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 20px; 
    border: 3px solid #0F0F0F; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
}

.login-box {
    background-color: rgba(34, 34, 34, 0.5);
    width: 500px;
    min-height: 200px !important;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
    text-align: center; 
}

.login-box h1 {
    margin-bottom: 10px;
    font-size: 28px;
}

.login-box p {
    margin-bottom: 20px;
    font-size: 14px;
}

.login-box .input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.login-box input {
    width: 95%; 
    padding: 10px;
    margin-bottom: 10px;
    background-color: #252525;
    border: none;
    border-radius: 5px;
    color: white;
}

.forgot-password {
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 10px;
    display: block;
    text-align: right; 
}

.login-box button {
    width: 100%; 
    background-color: white;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
}

.login-box .register {
    margin-top: 10px;
    font-size: 12px;
}

.login-box .register a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.register {
    float: left;
    margin-left: 1px;
}

@media (max-width: 375px) {
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .login-box input {
        width: 90%; 
        padding: 10px;
        margin-bottom: 10px;
        background-color: #252525;
        border: none;
        border-radius: 5px;
        color: white;
    }

    .login-box {
        background-color: rgba(34, 34, 34, 0.5);
        width: 350px;
        height: auto;
        min-height: 350px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
        text-align: center; 
    }

    .login-box button {
        width: 95%; 
        background-color: white;
        color: black;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .register {
        float: left;
        margin-left: 10px;
    }
}

.checkbox-group {
    margin-bottom: 20px;
    text-align: left;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
}

.checkbox-group label {
    font-size: 14px;
}

.checkbox-group a {
    color: #ffffff;
    text-decoration: underline;
}