<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/text.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/icon-512x512.png') }}" type="image/png">
</head>
<body>
    <div class="container">
        <h1>Privacy Policy</h1>
        <p>
            В Quirx мы понимаем важность вашей конфиденциальности и стремимся защитить ваши персональные данные. Когда вы регистрируетесь и используете наш сервис, мы можем собирать информацию, такую как ваше имя, адрес электронной почты, номер телефона, а также данные об активности, включая историю действий и предпочтения. Также мы можем собирать техническую информацию о вашем устройстве, включая IP-адрес, тип браузера и операционную систему. Обратите внимание, что единственной персональной информацией, которую мы сохраняем, являются ваши пароли, и все данные шифруются для обеспечения их безопасности.<br>
            Мы используем эти данные для обеспечения работы сервиса, его улучшения, персонализации вашего опыта и обработки ваших запросов. Кроме того, собранные данные могут использоваться для проведения исследований и анализа, что помогает нам совершенствовать наш сервис. Мы можем передавать ваши данные третьим лицам, включая сервисных поставщиков, которые помогают нам с хостингом и обработкой платежей, а также бизнес-партнёрам для улучшения их услуг. В определённых ситуациях ваши данные могут быть раскрыты для выполнения законодательства или защиты наших прав.<br>
            Мы прилагаем усилия для защиты ваших данных, используя современные технологии шифрования, однако идеальная безопасность при передаче данных через интернет не может быть гарантирована. Важно понимать, что, несмотря на наши меры безопасности, возможность несанкционированного доступа к данным существует, как со стороны третьих лиц, так и по причинам, не зависящим от нас. Мы не можем предвидеть все возможные угрозы, и поэтому определённые риски, связанные с использованием нашего сервиса, остаются на вашей стороне.<br>
            Вы имеете право на доступ к своим данным, их исправление и удаление, если это не противоречит юридическим требованиям. Также вы можете ограничить обработку данных в определённых случаях. Мы оставляем за собой право обновлять настоящую Политику конфиденциальности и уведомлять вас о любых изменениях путём размещения новой версии на нашем сайте. Если у вас возникнут вопросы по поводу данной Политики конфиденциальности, вы можете связаться с нами по указанному адресу электронной почты.
        </p>
    </div>
</body>
</html>
