<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/text.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/icon-512x512.png') }}" type="image/png">
</head>
<body>
    <div class="container">
        <h1>Terms and Conditions</h1>
        <p>
            Используя Quirx, вы соглашаетесь соблюдать следующие правила, направленные на обеспечение безопасности и комфорта для всех пользователей нашего сервиса. Мы стремимся создать платформу, где пользователи могут свободно делиться мемами и другими материалами, придерживаясь определённых стандартов поведения.
            <br>
            Quirx запрещает размещение любого контента, который может быть расценен как угрожающий, оскорбительный или NSFW (контент 18+). Это включает, но не ограничивается, материалы, содержащие ненавистнические высказывания, насилие, порнографию или любые другие виды неприемлемого содержания. Пользователи, нарушающие эти правила, могут быть немедленно заблокированы без предупреждения, и их доступ к платформе будет прекращен.<br>
            Мы также настоятельно предупреждаем, что любые попытки нанести ущерб нашей социальной сети, включая взломы, распространение вредоносного программного обеспечения или любые действия, направленные на подрыв работы платформы, будут пресекаться. В случае обнаружения подобных действий, мы оставляем за собой право обратиться в суд для защиты наших интересов и взыскать с виновной стороны компенсацию, начиная от 20 000 долларов США, в зависимости от размера причиненного ущерба. Более того, такие действия могут повлечь за собой уголовное преследование, вплоть до ареста.
            <br>
            При использовании Quirx вы обязаны уважать как других пользователей, так и саму платформу. Мы оставляем за собой право изменять данные правила в любое время без предварительного уведомления. Пользователи обязаны самостоятельно следить за актуальностью и соблюдать все правила, действующие на момент использования сервиса.
            <br>
            Мы строго предупреждаем, что любые попытки нанести ущерб нашей социальной сети, включая, но не ограничиваясь, несанкционированный доступ к системе (взлом), распространение вредоносного программного обеспечения, создание или использование инструментов для подрыва нормальной работы платформы, будут считаться серьезным нарушением законодательства. В случае выявления таких действий, мы незамедлительно подадим иск в суд для защиты наших законных интересов. Виновная сторона будет обязана выплатить компенсацию, сумма которой будет составлять не менее 20 000 долларов США, и может быть увеличена в зависимости от нанесенного ущерба. Дополнительно, подобные действия могут повлечь за собой уголовное преследование, вплоть до привлечения к ответственности в рамках действующего законодательства, включая арест.
            <br>
            Любая попытка оспорить или оправдать такие действия будет считаться необоснованной, так как данные правила четко и недвусмысленно определяют недопустимость подобных действий. Мы оставляем за собой право при необходимости предъявить дополнительные иски, а также потребовать возмещения любых понесенных нами убытков и издержек, включая оплату юридических услуг.
            <br>
            Мы понимаем, что даже при тщательном тестировании наш сервис может содержать ошибки или баги. Мы приветствуем, если вы обнаружите какие-либо баги и сообщите нам об этом. Ваше участие в улучшении Quirx ценится, и мы благодарны за любую информацию, которая помогает нам сделать платформу лучше. Вы можете уведомить нас напрямую через наши официальные каналы поддержки или поделиться информацией в интернете, соблюдая уважительные и конструктивные рамки.
            <br>
            Однако мы строго предупреждаем, что любое злоупотребление обнаруженными багами будет рассматриваться как нарушение наших правил. Это включает в себя, но не ограничивается, использование багов для получения личной выгоды, нанесения вреда другим пользователям, подрыва работы платформы или распространение информации о багах с целью поощрения других пользователей к их использованию в злонамеренных целях. Такие действия недопустимы и будут пресекаться.
            <br>
            Если мы обнаружим, что вы злоупотребляете багами или сознательно не уведомляете нас о них с целью нанести ущерб платформе или её пользователям, мы оставляем за собой право применить самые строгие меры. Это может включать в себя немедленное блокирование вашего аккаунта, удаление всех связанных с вами данных, а также подачу иска в суд с требованием компенсации за нанесенный ущерб. Размер компенсации будет определяться в зависимости от серьезности последствий ваших действий и может включать дополнительные издержки, такие как оплата юридических услуг и восстановление работы платформы.
            <br>
            Мы призываем вас быть ответственными пользователями и помнить, что ваше поведение влияет на всю нашу сообщество. Вместе мы можем сделать Quirx безопасным и приятным местом для всех.
        </p>
    </div>
</body>
</html>
